version: '3.5'

services:

  php:
    volumes:
      - "{{ee_root_dir}}/admin-tools:{{ee_admin_path}}:ro"
      - "{{db_path}}:{{db_path}}:ro"

  nginx:
    volumes:
      - "{{ee_root_dir}}/admin-tools:{{ee_admin_path}}:ro"
      - "{{db_path}}:{{db_path}}:ro"
